<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <title>Course Portal</title>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"></a>
      </div>
      <ul class="nav navbar-nav">
        
        <li><a href="/institute">Institute Portal</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">


    <h2>Edit Course</h2>

    <form method="POST" action="/institute/course?_method=PUT">
        <label for="id">id:</label><br>
        C-<input type="number" min="1" max="99999" name="id" required><br> 
      <label for="name">Course Name:</label><br>
      <input type="text" name="name" required><br>
      <label for="credit">credit:</label><br>
      <input type="text" name="credit" required><br>
      <label for="duration">Duration:</label><br>
      <input type="text" name="duration" required><br>
      <br>
      <input type="Submit" value="Submit">
    </form>
  </div>
</body>

</html>