<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <title>Institute Portal</title>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"></a>
      </div>
      <ul class="nav navbar-nav">
        
        <li><a href="/institute">Institute Portal</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>

      </ul>
    </div>
  </nav>
  <div class="container">

    <h1>Welcome Child Well Being Institute</h1>

    <h2>Institute ID :I-1</h2>
    <h2>Established in 1998 </h2>
    <h2> Type : Coaching Institute</h2>

    <h3>Manage :</h3>
    <ul>
      <li><a href="/institute/student">Student</a></li>
      <li><a href="/institute/teacher">Teacher</a></li>
      <li><a href="/institute/course">Courses</a></li>
      <li><a href="/institute/report">Report</a></li>
    </ul>
  </div>
</body>

</html>